body{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    
}
.navbar{
    position: fixed;
    padding: 10px;
    background-color: #181e31;
    width: 100vw;
    justify-items: end;
    top: 0px;
    border-bottom: 1px solid lime;
}
.logo{
    position: relative;
    justify-self: left;
    width: 10vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    background: #eceff0;
    top: 5px;
    box-shadow: 0 0 30px cyan;
}
.logo h2{
    position: relative;
    text-align: center;
    top: 5px;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
}

.logo a{
    text-decoration: none;
    color: black;
}
.link{
    display: flex;
    gap:10px;
}
.link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin-right: 40px;
    position: relative;
    font-weight: 900;
    bottom: 30px;
}
.link a:hover{
    color: rgb(15, 247, 7);
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: 900;
    border-radius: 5px;
    transform: translateY(-5px);
    text-decoration: underline;
}

#button{
    width: 20vw;
    height: auto;
}
@media(max-width:600px){
    .logo{
        justify-self: right;
        margin-right: 30px;
        width: 30vw;
        height: 10vh;
        bottom: 30px;
    }
    .link{
        display: none;
    }
    .navbar{
        position: fixed;
    }
}
.hidden{
    font-size: 30px;
    justify-self: left;
    margin-left: 10px;
    position: relative;
    font-weight: 900;
    cursor: pointer;
    display: none;
    color: white;
    bottom: 40px;
}
@media(max-width:600px){
    #button{
        width: 30vw;
        height: auto;
        bottom: 30px;
        position: relative;
    }
    .hidden{
        display: flex;
        
    }
}
.card{
    text-align: left;
    top: 0px;
    position: relative;
    background-color: #c6f2fc;
    width: 80vw;
    height: auto;
    justify-self: left;
    border-radius: 5px;
}
.card1{
    display: grid;
    gap: 10px;
}
.card1 a{
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
    text-transform: capitalize;
}
.card1 a:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    color: purple;
}
.card2{
    position: absolute;
    justify-self: right;
    top: 0px;
}
.card2 a{
    text-decoration: none;
    color:red;
}
#about.about{
    padding: 80px 20px;
    margin-top: 30px;
}

#home.home{
    background-image: linear-gradient(rgba(30, 33, 34, 0.8), rgba(27, 28, 29, 0.8)), url('./image/download.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 20px;
    opacity: 1;
    width: 96vw;
    justify-self: center;
}
@media(max-width:600px){
    #home.home{
        width: 100vw;
    }
}
.home h1{
    margin-top: 20px;
    font-size: 2rem;
    color: white;
}
.home figcaption{
    color: rgb(108, 108, 109);
    font-size: 20px;
}
.home span{
    color: green;
    font-weight: 900;
}
.item{
    padding: 100px 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.item h1{
    color: #1b3a9e;
}
.item h2{
    color: #1b6a9e;
}
.item strong{
    color: #00692c;
    font-weight: 900;
    opacity: 1;
}
.item1{
    padding: 30px 20px;
    background-color: #ffffff;
}
.item1 h3{
    padding: 10px 10px;
    background-color: #829bf0;
    border-radius: 5px;
    border-bottom: 2px solid #00692c;
    color: #4504fa;
    font-size: 1.5rem;
}
.item1 a{
    color: black;
}
.footer{
    background: #000000;
    padding:80px 15px;
    width: 96vw;
    color: white;
    margin-left: 3px;
    border-radius: 5px 5px 0 0;
}
@media(max-width:600px){
    .footer{
        margin-left: 0px;
        width: 97vw;
        border-radius:0px;
    }
}
.item2 h4{
    color: white;
    font-size: 1.5rem;
}
.item2 span{
    color: green;
    font-size: 1.5rem;
    font-weight: 900;
}
.item2 p{
    color: whitesmoke;
}
#contact.item3 a{
    color: gold;
    text-decoration: none;
    font-size: 17px;
}
#contact.item3 a:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    color: #f7d7d7;
    transform: translateY(-5px);
    text-decoration: underline;
}
.item5 a{
    color: rgb(0, 225, 255);
    text-decoration: none;
    font-size: 17px;
}
.item5 a:hover{
     transition: all ease 0.3s;
    cursor: pointer;
    color: #f7d7d7;
    transform: translateY(-5px);
    text-decoration: underline;
}
.item7 a{
    color: rgb(0, 119, 255);
    text-decoration:none;
    font-size: 17px;
}
.item7 a:hover{
     transition: all ease 0.3s;
    cursor: pointer;
    color: #f7d7d7;
    transform: translateY(-5px);
    text-decoration: underline;
}
.item7 p{
    color: #035292;
}
.item9{
    margin-top: 20px;
}
.item9 a{
    color: #a8a8a7;
    text-decoration: none;
}
.item9 a:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    color: hsl(298, 29%, 23%);
    transform: translateY(-5px);
    text-decoration: underline;
}